aiohttp>=3.9.3
certifi>=2024.2.2
charset-normalizer>=3.3.2
colorama>=0.4.6
greenlet==3.3.2
idna>=3.6
playwright>=1.42.0
pyee>=11.1.0
requests>=2.31.0
tenacity>=8.2.3
tqdm==4.67.3
typing_extensions>=4.10.0
urllib3>=2.2.1
aiofiles>=23.2.1

